{% extends 'store/base.html' %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}



<div class="container">
    <div class="col-md-8 mx-auto">
        <h3>User Login from</h3>
        <form action="" method="POST">
            {% csrf_token %}
        
            {{ form}}
        
            <button type="submit">Login</button>
        </form>
    </div>
</div>
<div class="container">
    <a href="{% url 'register' %}">You have no registation</a>
</div>

{% endblock content %}
